.THIS > .lightning-select-style {
  height: 65vh;
  padding: 0.1rem .1rem .1rem 0.6rem;
  border: 1px solid #DDDBDA;
  border-radius: .25rem;
  outline: -webkit-focus-ring-color auto 0px;
  cursor: default;
}
.THIS .list-element-selected {
  background: #1E90FF;
  color: #FFFFFF;
}
.THIS .slds-table_cell-buffer tr>th:first-child {
  padding-left: 0.3rem;
}
.THIS .slds-table_cell-buffer tr>th:last-child {
  padding-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}